Q1- How can we store a single quote (') as a string in a variable?

In [ ]:
a=" 'Hello'"  #example 1
print(a)

Q2-Refer the below variables:
x='a'
Here,is x a character type funtion on this variable? Support your answer with an explanation

In [ ]:
x='a'
print(x)

Variable x is a character type variable because in python value is assigned to a single character in a single quotes is represent a single character value

Q3-Apply the following functions on the variable:'Welcome to Python foundation course'
1-find()
2-count()
3-len()
4-Concatenation

In [ ]:
sid='Welcome to Python foundation course'   #example 1 of question no 3
print(sid.find("c"))

In [ ]:
sid.count('o')    #example 2 of Q3

In [ ]:
len(sid)          #example 3 of Q3

In [ ]:
string1="Hello"      #example 4 of Q4
string2=" everyone"
result=string1+string2
print(result)

Q4-For the variable:word='PanaJi@12256'
Calculate the following:
(a)Total number of alphabts in lowecase
(b)Total number of alphabets in upperecase 
(c)Total number of numerical in string
Ans-

In [ ]:
word='PanaJi@12256'
lowercase_count=0
uppercase_count=0
numerical_count=0
for char in word:
    if char.islower():
        lowercase_count +=1
    elif char.isupper():
        uppercase_count +=1
    elif char.isnumeric():
        numerical_count +=1
print("total no in lowercase",lowercase_count)
print("total no in uppercase",uppercase_count)
print("total no in numerical",numerical_count)

Q5-Write a code to store a numrical value inside a variable then convert into string.
Ans-

In [ ]:
number=7688
number_string=str(number)
print("original number:",number)
print("converted string:",number_string)